grimm-schema.rnc

start = tale
tale = element tale {metadata, story}
metadata = element metadata {title, year, author, translator, language}
title = element title {text}
year = element year {xsd:gYear}
author = element author {text}
translator = element translator {text}
language = element language {text}
story = element story {p+}
p = element p {mixed {(character|dialogue|action|emotion|stateofbeing)*}}
character = element character {class, text}
class = attribute class {text}
dialogue = element dialogue {speaker, text}
speaker = attribute speaker {text}
action = element action {type, text}
type = attribute type {text}
emotion = element emotion {text}
stateofbeing = element stateofbeing {text}

# tale root element, containing metadata (required) and text/story (required)
# metadata has title, (required) year(required), author(required), translator(required), language(required)
#       these will be open, for now. might change later to specific values
# text/story contains paragraphs
# paragraphs are mixed content: containing optional dialogue, actions, emotion/state-of-being, characters
# dialogue element
# actions element
# emotion/state-of-being element
# characters element
# optional emotion/connotation attributes on some of these? what other attributes do we want?